<ion-view view-title="Auction - {{subtitle}}">
  <div class="logo"><img src="https://m.midwestauction.com/img/logo11-m.png"></div>
  <ion-content cache-view="true">
    <ion-list>
      <div class="ion-item-wrap mwa-item">
      	<center>
  			<h3 class="date">{{auction.auction_datetime}}</h3>
  	  		<h2 class="location">{{location}}</span></h2>
  	  	</center>
  	  	<h3>{{auction.auction_long_title}}</h3>
  	  	<p ng-bind-html="auction.content"></p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
<style type="text/css">

img {
	max-width: 100%;
}
</style>