<ion-view view-title="Featured Auctions">
	<div class="logo"><img src="http://midwestauction.com/img/logo11-m.png"></div>
	<ion-content cache-view="true">
		
		<div class="list card" ng-repeat="f in featured_ads">

			<div class="item item-avatar">
				<img ng-src="{{f.imageUrl}}">
				<h2>{{f.auction_city}}, {{f.auction_state}}</h2>
				<p>{{f.start_time}}</p>
			</div>

			<div class="item item-body">
				<ion-slide-box does-continue="true" auto-play="true">
				  <ion-slide ng-repeat="img in f.featured_images">
				    <img class="full-image" ng-src="{{img}}">
				  </ion-slide>
				</ion-slide-box>
				<p>
					{{f.featured_text}}
				</p>
				<p>
					{{f.call_info}}
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
