<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-errors' : loginForm.username.$invalid && loginForm.$submitted, 'no-errors' : loginForm.username.$valid && loginForm.$submitted}">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="loginData.username" required>
        </label>
        <div class="error-container" ng-messages-include="templates/error-list.html" ng-show="loginForm.username.$error && loginForm.$submitted" ng-messages="loginForm.username.$error"></div>

        <label class="item item-input" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted, 'no-errors' : loginForm.password.$valid && loginForm.$submitted}">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" required>
        </label>
        <div class="error-container" ng-messages-include="templates/error-list.html" ng-show="loginForm.password.$error && loginForm.$submitted" ng-messages="loginForm.password.$error"></div>

        <label class="item">
          <button class="button button-block button-stable" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <div class="list" ng-controller="RegisterCtrl">
      <label class="item">
        <button class="button button-block button-stable button-outline" ng-click="register()">Register</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
